html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

.body {
	max-width: 1000px;
	margin: auto;
	background-image: url(../images/background.jpg);
	color: #fff;
	background-position: center;
	background-size: cover;
}
